In [3]:
import pandas as pd

In [18]:
df_outcome=pd.read_csv("austin-animal-center-outcomes-1.csv",sep=',')
df_outcome.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,12/27/2018 01:25:00 PM,05/10/2017,Adoption,Foster,Dog,Neutered Male,1 year,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,10/01/2018 05:03:00 PM,04/18/2018,Adoption,NaN,Cat,Neutered Male,5 months,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,01/11/2017 06:17:00 PM,03/07/2016,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,11/13/2016 01:38:00 PM,07/14/2011,Return to Owner,NaN,Dog,Neutered Male,5 years,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,02/24/2016 02:42:00 PM,02/24/2014,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Black/Gray

In [19]:
df_outcome.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Date of Birth',
       'Outcome Type', 'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color'],
      dtype='object')

In [20]:
df_outcome.index

RangeIndex(start=0, stop=95367, step=1)

In [21]:
#row and column in the dataset
df_outcome.shape

(95367, 12)

In [41]:
df_outcome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95367 entries, 0 to 95366
Data columns (total 12 columns):
Animal ID           95367 non-null object
Name                65938 non-null object
DateTime            95367 non-null object
MonthYear           95367 non-null object
Date of Birth       95367 non-null object
Outcome Type        95360 non-null object
Outcome Subtype     43280 non-null object
Animal Type         95367 non-null object
Sex upon Outcome    95365 non-null object
Age upon Outcome    95363 non-null object
Breed               95367 non-null object
Color               95367 non-null object
dtypes: object(12)
memory usage: 8.7+ MB

In [54]:
df_outcome_modified = df_outcome[['Animal ID','Name','DateTime','Outcome Type','Animal Type','Breed','Color']]
df_outcome_modified.head()

,Animal ID,Name,DateTime,Outcome Type,Animal Type,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,Adoption,Dog,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,Adoption,Cat,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,Adoption,Cat,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,Return to Owner,Dog,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,Euthanasia,Other,Raccoon Mix,Black/Gray

In [87]:
new_dataset= df_outcome_modified.drop_duplicates()
new_dataset.head()

,Animal ID,Name,DateTime,Outcome Type,Animal Type,Breed,Color
0,A771830,*Bradley,12/27/2018 01:25:00 PM,Adoption,Dog,Pit Bull Mix,White/Blue
1,A779576,*Rajah,10/01/2018 05:03:00 PM,Adoption,Cat,Domestic Shorthair Mix,Brown Tabby
2,A741715,*Pebbles,01/11/2017 06:17:00 PM,Adoption,Cat,Domestic Shorthair Mix,Calico
3,A658751,Benji,11/13/2016 01:38:00 PM,Return to Owner,Dog,Border Terrier Mix,Tan
4,A721285,NaN,02/24/2016 02:42:00 PM,Euthanasia,Other,Raccoon Mix,Black/Gray

In [100]:
new_dataset['DateTime'] = pd.to_datetime(new_dataset['DateTime'])
new_dataset.head()

/Users/nilamroy/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Animal ID,Name,DateTime,Outcome Type,Animal Type,Breed,Color,year
0,A771830,*Bradley,2018-12-27 13:25:00,Adoption,Dog,Pit Bull Mix,White/Blue,18
1,A779576,*Rajah,2018-10-01 17:03:00,Adoption,Cat,Domestic Shorthair Mix,Brown Tabby,18
2,A741715,*Pebbles,2017-01-11 18:17:00,Adoption,Cat,Domestic Shorthair Mix,Calico,17
3,A658751,Benji,2016-11-13 13:38:00,Return to Owner,Dog,Border Terrier Mix,Tan,16
4,A721285,NaN,2016-02-24 14:42:00,Euthanasia,Other,Raccoon Mix,Black/Gray,16

In [101]:
#new_dataset['year'] = new_dataset['DateTime'].apply(lambda x:x.strftime('%y'))
#new_dataset

In [97]:
new_dataset['DateTime'].dt.year

0        2018
1        2018
2        2017
3        2016
4        2016
5        2017
6        2017
7        2017
8        2018
9        2015
10       2013
11       2014
12       2014
13       2014
14       2017
15       2014
16       2013
17       2018
18       2017
19       2015
20       2017
21       2018
22       2015
23       2018
24       2015
25       2015
26       2018
27       2016
28       2018
29       2015
         ...
95337    2019
95338    2019
95339    2019
95340    2019
95341    2019
95342    2019
95343    2019
95344    2019
95345    2019
95346    2019
95347    2019
95348    2019
95349    2018
95350    2019
95351    2019
95352    2019
95353    2019
95354    2019
95355    2019
95356    2019
95357    2019
95358    2019
95359    2019
95360    2019
95361    2019
95362    2019
95363    2019
95364    2019
95365    2019
95366    2019
Name: DateTime, Length: 95355, dtype: int64

In [98]:
new_dataset.shape

(95355, 8)

In [73]:
DateTime_split = new_dataset['DateTime'].str.split('/')
DateTime_split.head()

0    [12, 27, 2018 01:25:00 PM]
1    [10, 01, 2018 05:03:00 PM]
2    [01, 11, 2017 06:17:00 PM]
3    [11, 13, 2016 01:38:00 PM]
4    [02, 24, 2016 02:42:00 PM]
Name: DateTime, dtype: object

0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5       NaN
6       NaN
7       NaN
8       NaN
9       NaN
10      NaN
11      NaN
12      NaN
13      NaN
14      NaN
15      NaN
16      NaN
17      NaN
18      NaN
19      NaN
20      NaN
21      NaN
22      NaN
23      NaN
24      NaN
25      NaN
26      NaN
27      NaN
28      NaN
29      NaN
         ..
95337   NaN
95338   NaN
95339   NaN
95340   NaN
95341   NaN
95342   NaN
95343   NaN
95344   NaN
95345   NaN
95346   NaN
95347   NaN
95348   NaN
95349   NaN
95350   NaN
95351   NaN
95352   NaN
95353   NaN
95354   NaN
95355   NaN
95356   NaN
95357   NaN
95358   NaN
95359   NaN
95360   NaN
95361   NaN
95362   NaN
95363   NaN
95364   NaN
95365   NaN
95366   NaN
Name: DateTime, Length: 95355, dtype: float64

In [42]:
df_intakes = pd.read_csv('austin-animal-center-intakes-1.csv',sep=',')
#df_intakes.head()

In [51]:
df_intakes.columns

Index(['Animal ID', 'Name', 'DateTime', 'MonthYear', 'Found Location',
       'Intake Type', 'Intake Condition', 'Animal Type', 'Sex upon Intake',
       'Age upon Intake', 'Breed', 'Color'],
      dtype='object')

In [44]:
#df_intakes.info()

In [45]:
#pandas.__version__

In [50]:
df_dog = df_outcome.loc[df_outcome['Animal Type'] == 'Dog',['Name','Breed','Color']]
df_dog.head()

           Name                                    Breed        Color
0      *Bradley                             Pit Bull Mix   White/Blue
3         Benji                       Border Terrier Mix          Tan
5          Rose  Labrador Retriever/Jack Russell Terrier       Yellow
6  Happy Camper                   Labrador Retriever Mix        Black
8           NaN             English Springer Spaniel Mix  Black/White